<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="2" android:versionName="1.1" package="com.companyname.bela" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="29" />
	<application android:label="Bela Blok.Android" android:theme="@style/MainTheme" android:icon="@mipmap/ikona"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>